/* GOOGLE FONTS */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; */


/* STYLING RULES */

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #090b1a;
    color: #ffffff;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0 auto!important;
    padding: 0;
    overflow-x: hidden;
}

.mainBody {
    max-width: 1440px!important;
    max-height: 800px!important;
    margin: 0 auto!important;
    padding: 0;
    /* overflow: hidden; */
}

.mainSection {
    max-width: 1440px!important;
    max-height: 446px!important;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 570px 540px;
    justify-content: center;
    margin: 177px 164px 30px 164px;
    /* background: #aa5cdb;
    border-radius: 10px; */
}

.heroImg {
    max-height: 446px;
    background: #aa5cdb;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    line-height: 0;
}

.herosDesktopImg {
    width: 540px;
    height: auto;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0.5;
}

.leftSide {
    grid-column-start: 1;
    grid-row-start: 1;
    max-height: 446px;
    background-color: #1b1938;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.heroHeading {
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin: 73px 120px 0 70px;
}

.headingHiglight {
    color: #aa5cdb;
}

.heroDescription {
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    color: #ffffffbf;
    margin: 30px 150px 0 70px;
    line-height: 1.5;
    word-spacing: 0.05rem;
    letter-spacing: 0.15px;
}

.companyStats {
    display: flex;
    justify-content: space-between;
    margin: 77px 150px 65px 70px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
}

.statDescription {
    font-weight: 400;
    color: #ffffff99;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    line-height: 2;
    font-size: 10px;
    letter-spacing: 1.5px;
}

.statCol {
    transition: all 0.5s ease-in-out;
}

.statCol:hover {
    color: #aa5cdb;
    cursor: context-menu;
}

.attribution {
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
}

.attribution a {
    color: #3ea0a3;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.attribution a:hover {
    color: cyan;
    cursor: pointer;
}


/* RESPONSIVE STYLES */

@media screen and (max-width: 1350px) {
    .mainSection {
        margin: 12rem auto;
        margin-bottom: 10%;
    }
}

@media screen and (max-width: 1250px) {
    .mainSection {
        width: 80vw;
        grid-template-columns: 52% 48%;
    }
    .herosDesktopImg {
        width: 100%;
        height: auto;
    }
    .heroImg {
        width: 100%;
        height: fit-content;
    }
    .heroHeading {
        margin: 3.5rem 5rem 0 5rem;
        font-size: 2rem;
    }
    .heroDescription,
    .companyStats {
        margin-left: 5rem;
    }
    .heroDescription {
        margin-top: 2rem;
    }
    .companyStats {
        font-size: 1.5rem;
        margin-top: 3rem;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 1200px) {
    .heroHeading {
        margin-top: 2.5rem;
    }
    .heroHeading,
    .heroDescription,
    .companyStats {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

@media screen and (max-width: 1050px) {
    .heroHeading {
        font-size: 1.7rem;
    }
    .companyStats {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 1020px) {
    .heroHeading {
        margin-top: 1rem;
    }
    .companyStats {
        margin-top: 1.5rem;
    }
}

@media screen and (max-width: 960px) {
    .heroHeading {
        margin-top: 1.5rem;
    }
    .heroHeading,
    .heroDescription,
    .companyStats {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    .heroImg,
    .herosDesktopImg {
        overflow: hidden;
    }
}

@media screen and (max-width: 950px) {
    .mainSection {
        width: 60vw;
        max-height: 100%!important;
        display: flex;
        flex-direction: column;
        margin-top: 8rem
    }
    .heroImg,
    .herosDesktopImg {
        border-radius: 10px 10px 0 0;
    }
    .leftSide {
        border-bottom-right-radius: 10px;
    }
    .heroHeading {
        font-size: 2.5rem;
        margin: 3rem 4rem 0 4rem;
    }
    .heroDescription {
        margin: 2.5rem 4rem 0 4rem;
    }
    .companyStats {
        margin: 4rem;
    }
    .attribution {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 960px) {
    .heroHeading {
        font-size: 2rem;
    }
}

@media screen and (max-width: 650px) {
    .mainSection {
        width: 75vw;
    }
    .heroHeading,
    .heroDescription,
    .companyStats {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .companyStats {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 500px) {
    .heroHeading {
        margin-top: 2rem;
    }
    .heroHeading,
    .heroDescription,
    .companyStats {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .companyStats {
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width: 450px) {
    .mainBody,
    .leftSide {
        max-height: 100%!important;
    }
    .heroHeading,
    .heroDescription,
    .companyStats {
        text-align: center;
    }
    .companyStats {
        flex-direction: column;
        gap: 2rem;
    }
}

@media screen and (max-width: 376px) {}